@media (min-width: $breakpoint-medium) {
  header {
    padding: 2rem $gutter;

    h1 {
      font-size: 2rem;
    }
  }

  #navWrapper {
    padding: 1rem;

    button {
      display: flex; // still show burger on medium
    }
  }

  nav {
    display: flex;
    flex-direction: column; // stays vertical on medium unless you want horizontal here

    a {
      max-width: fit-content;
    }
  }

  .hero {
    div {
      top: 30%;
      bottom: 30%;
    }

    h3 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      font-size: 1.3rem;
      margin: 0;
    }
  }

  /* HOW WE CAN HELP Section (medium screen) */
  .how-we-can-help .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /* CLIENTS Section (medium screen) */
  .clients {
    .client-logos img {
      max-width: 100px;
    }
  }

  /* FOOTER (medium screen) */
  footer {
    .locations {
      flex-direction: row;
      justify-content: center;
      gap: 4rem;

      div {
        text-align: left;
      }
    }
  }
}
